
body {
	margin:0;
	padding:0;
	font-family: 'Catamaran', sans-serif;
}

.padRow {
	margin-bottom: 100px;
}

.myCol {
	text-align: center;
}

.myImage {
	cursor: pointer;
	opacity: 1;
	-webkit-transition: .25s opacity;
	-moz-transition: .25s opacity;
	-o-transition: .25s opacity;
	transition: .25s opacity;
}

.myImage:hover {
	opacity: .6;
}

 