




body {
	margin:0;
	padding:0;
	overflow-x: hidden;
	overflow-y: hidden;
	/*font-family: 'Oxygen', sans-serif;*/
	font-family: 'Assistant', sans-serif;
	/*font-family: 'Catamaran', sans-serif;*/
}

#map {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100vh;
}

#title {
	position: absolute;
	left: 20px;
	top: 20px;
	color: black;
	width: auto;
	z-index: 1001;
	width: 285px;
}

#title h3 {
	position: absolute;
	top: 0px;
	right:-20px;
	margin-top: 0;
}

#title p {
	position: absolute;
	top: 25px;
	right: -10px;
	margin-top: 0;
}

#title img {
	width: 100px;
	height: 65px;
	position: absolute;
	top: -10px;
	left: 0;
	border-radius: 5px;
	-webkit-box-shadow: 2px 3px 5px 0px grey;
	-moz-box-shadow: 2px 3px 5px 0px grey;
	-o-box-shadow: 2px 3px 5px 0px grey;
	box-shadow: 2px 3px 5px 0px grey;
}

#mobileMenu {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #1C2833;
	height: 40px;
	width: 40px;
	color: white;
	border-radius: 40px;
	visibility: hidden;
	border: 2px solid transparent;
	z-index: 1002;
	cursor:pointer;
	text-align: center;
	-webkit-transition: .25s background, .25s color, .25s border;
	-moz-transition: .25s background, .25s color, .25s border;
	-o-transition: .25s background, .25s color, .25s border;
	transition: .25s background, .25s color, .25s border;
}

#mobileMenu i {
	font-size: 25px;
	margin-top: 5px;
}

#mobileMenu:hover {
	background: transparent;
	color: black;
	border: 2px solid #1C2833;
}


#supMobileMenu {
	position: absolute;
	top: 0px;
	right: -610px;
	background: #fff;
	height: 100vh;
	width: 100%;
	visibility: hidden;
	z-index: 1001;
	overflow-x: hidden;
	text-align: center;
	-webkit-transition: .25s right;
	-moz-transition: .25s right;
	-o-transition: .25s right;
	transition: .25s right;
}


#bottomMenu {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #FBFCFC;
	z-index: 1001;
	height: 50px;
	width: 100%;
	visibility: visible;
}

#supBottomMenu {
	position: absolute;
	right: 85px;
	/*right: 0;*/
	bottom: 0px;
	height: 50px;
	width: auto;
	text-align: center;
	background: transparent;
	z-index: 1002;
	color: #7B7D7D;
	/*color: white;*/
	opacity: .6;
	cursor: pointer;
	/*
	-webkit-transition: .15s opacity;
	-moz-transition: .15s opacity;
	-o-transition: .15s opacity;
	transition: .15s opacity;
	*/
	-webkit-transition: .25s color;
	-moz-transition: .25s color;
	-o-transition: .25s color;
	transition: .25s color;
}

#supBottomMenu:hover {
	color: black;
	/*opacity: 1;*/
}

#supBottomMenu p {
	margin-top: 15px;
}

#bottomLegend {
	position: absolute;
	left: 10px;
	bottom: 5px;
	/*top: 90px;*/
	background: transparent;
	z-index: 1001;
	height: 30px;
	width: 400px;
}

.legendBox {
	position: absolute;
	top: 0;
	height: 100%;
	width: 25%;
	background: transparent;
}

.legendBox p {
	margin-top: 0px;
	margin-left: 20px;
}

#layer01 {
	left: 0;
}

#layer02 {
	left: 25%;
}

#layer03 {
	left: 50%;
}

#layer04 {
	left: 75%;
}

.legendBubble {
	position: absolute;
	left: 0;
	top: 2px;
	height: 15px;
	width: 15px;
	border-radius: 25px;
	border: 1px solid black;
	cursor: pointer;
	opacity:.5;
	-webkit-transition: .1s opacity;
	-moz-transition: .1s opacity;
	-o-transition: .1s opacity;
	transition: .1s opacity;
}

.legendBubble:hover {
	opacity: 1;
}

#bubble01 {
	background: black;
}

#bubble02 {
	background: black;
}

#bubble03 {
	background: black;
}

#bubble04 {
	background: black;
}

#sideMenu {
	position: absolute;
	top: 0;
	right: 0;
	background: #1C2833;
	color: white;
	width: 75px;
	height: 100%;
	z-index: 1003;
}

/* possibly delete */
.supSideMenu {
	position: absolute;
	top: 0;
	left: -150px;
	color: black;
	width: 150px;
	height: 100%;
	z-index: 1001;
	-webkit-transition: .3s left;
	-moz-transition: .3s left;
	-o-transition: .3s left;
	transition: .3s left;
}

#supSideMenu01 {
	background: #fff;
	border: 1px solid black;
}

#supSideMenu02 {
	background: #fff;
	border: 1px solid black;
}

#supSideMenu03 {
	background: #fff;
	border: 1px solid black;
}
/* // possibly delete */


.menuBox {
	position: absolute;
	height: 75px;
	width: 225px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: .2s right;
	-moz-transition: .2s right;
	-o-transition: .2s right;
	transition: .2s right;
}

.subMenuBox {
	position: absolute;
	height: 100%;
	width: 150px;
	background: #FBFCFC;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow: -2px 2px 2px 0px grey;
	-moz-box-shadow: -2px 2px 2px 0px grey;
	-o-box-shadow: -2px 2px 2px 0px grey;
	box-shadow: -2px 2px 2px 0px grey;
	
	
}

.subMenuBox p {
	text-align: center;
	color: #7B7D7D;
	font-size: 25px;
	margin-top: 20px;
}





.menuCircle {
	position: absolute;
	left: 12px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	border-radius: 25px;
	color: black;
	margin-bottom: 20px;
	-webkit-transition: .2s opacity;
	-moz-transition: .2s opacity;
	-o-transition: .2s opacity;
	transition: .2s opacity;
}

#firstBox {
	top: 200px;
	background: black;
	right: -255px;
}

#secondBox {
	top: 275px;
	background: black;
	right: -255px;
}

#thirdBox {
	top: 350px;
	background: black;
	right: -255px;
}

#firstCircle {
	top: 210px;
	background: #fff;
	opacity: .7;
}

#secondCircle {
	top: 285px;
	background: #fff;
	opacity: .7;
}

#thirdCircle {
	top: 360px;
	background: #fff;
	opacity: .7;
}

.myIcon {
	position: absolute;
}

#myZoomControls {
	position:absolute;
	top: 0;
	left: 0;
	background: transparent;
	height: 35px;
	width: 75px;
	cursor: pointer;
	text-align: center;
	visibility: hidden;
}

#myZoomIn {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	height: 100%;
	width: 50%;
	opacity: .7;
	border-right: 1px solid black;
}

#myZoomOut {
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	height: 100%;
	width: 50%;
	opacity: .7;
	border-left: 1px solid black;
}

.custZoom {
	margin-top: 8px;
	color: black;
}

#myHomeButton {
	position: absolute;
	top: 36px;
	height: 35px;
	width: 75px;
	cursor: pointer;
	background: #fff;
	text-align: center;
	color: black;
	opacity: .7;
	visibility: hidden;
	
}


.pullOutPage {
	position: absolute;
	top: 0;
	background: #FBFCFC;
	height: 100%;
	padding-left: 25px;
	padding-right: 25px;
	-webkit-transition: .2s right;
	-moz-transition: .2s right;
	-o-transition: .2s right;
	transition: .2s right;
}

#searchPage {
	width: 350px;
	right: -610px;
	z-index: 1001;
	overflow-y: scroll;
	overflow-x: hidden;
}

.pageToggle {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #797D7F;
	cursor: pointer;
	font-size: 35px;
	-webkit-transition: .25s color;
	-moz-transition: .25s color;
	-o-transition: .25s color;
	transition: .25s color;
}

.pageToggle:hover {
	color: black;
}

#basemapPage {
	width: 350px;
	right: -610px;
	z-index: 1001;
	overflow-y: scroll;
	overflow-x: hidden;
}

#basemapPage .row p {
	text-align: center;
}

#basemapPage img {
	cursor: pointer;
	padding-bottom: 10px;
	-webkit-transition: .25s opacity;
	-moz-transition: .25s opacity;
	-o-transition: .25s opacity;
	transition: .25s opacity;
}

#basemapPage img:hover {
	opacity: .7;
}



#filterPage {
	width: 350px;
	right: -610px;
	z-index: 1001;
	overflow-x:hidden;
}

.myFilterButtons {
	text-align: center;
	margin-top: 50px;
	cursor:pointer;
}

.myFilterButtons h3 {
	color: #7B7D7D;
	border-bottom: 2px solid transparent;
	-webkit-transition: .15s border-bottom, .15s color;
	-moz-transition: .15s border-bottom, .15s color;
	-o-transition: .15s border-bottom, .15s color;
	transition: .15s border-bottom, .15s color;
}

.myFilterButtons h3:hover {
	color: black;
	border-bottom: 2px solid black;
}


#featurePage{
	width: 350px;
	right: -610px;
	z-index: 1002;
	overflow-y:scroll;
	overflow-x: hidden;
}

#hoverFeaturePage {
	width: 350px;
	right: -610px;
	z-index: 1002;
	overflow-y: scroll;
	overflow-x: hidden;
}

#infoPage {
	width: 350px;
	right: -610px;
	z-index: 1001;
}

.active {
	
}

/* leaflet popup styling */
.leaflet-popup-content-wrapper .leaflet-popup-content {
	text-align: center;
	font-size: 15px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content a:link{
	text-decoration: none;
	color: #1A5276;
}

.leaflet-popup-content-wrapper .leaflet-popup-content a:hover{
	text-decoration: none;
	color: #7FB3D5;
}

.leaflet-popup-content-wrapper .leaflet-popup-content a:visited{
	text-decoration: none;
	color: #1A5276;
}

.leaflet-popup-content-wrapper .leaflet-popup-content a:active{
	text-decoration: none;
	color: #1A5276;
}
/* // leaflet popup styling */

/* test */
.leaflet-popup-content-wrapper .leaflet-popup-content .deactivated a:link{
	text-decoration: none;
	color: #CCD1D1;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .deactivated a:hover{
	text-decoration: none;
	color: #CCD1D1;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .deactivated a:visited{
	text-decoration: none;
	color: #CCD1D1;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .deactivated a:active{
	text-decoration: none;
	color: #CCD1D1;
}
/* // test */

/* test 2 */
.leaflet-top {
	top: 50px;
}

.leaflet-left {
	
}
/* //test 2 */

/* for popup */
#titlePopup {
	font-size: 20px;
}

#govPopup {
	font-size: 20px;
}

.popupLine {
	width: 70%;
}
/* // for popup */


.myCheckBox {
	width: auto;
	height: auto;
	padding: 5px;
	background: white;
	border-radius: 5px;
	border: 1px solid black;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
	color: black;
}

.myCheckBox:hover {
	background: #003744;
	color: white;
	border: 1px solid white;
}


@media only screen and (max-width: 600px) {
	body {
		overflow-x: hidden;
	}
	
	#sideMenu {
		visibility:hidden;
	}
	
	#title {
		visibility: hidden;
	}
	
	#mobileMenu {
		visibility: visible;
	}
	
	#supBottomMenu {
		visibility: hidden;
	}
	
	#bottomLegend {
		width: 100%;
	}
	
	#bottomMenu {
		visibility: visible;
	}
	
	#searchPage {
		width: 100%;
		z-index: 1003;
	}
	
	#basemapPage {
		width: 100%;
		z-index: 1003;
	}
	
	#filterPage {
		width: 100%;
		z-index: 1003;
	}
	
	#featurePage {
		width: 100%;
		z-index: 1003;
	}
	
	#hoverFeaturePage {
		width: 100%;
	}
	
	#infoPage {
		width: 100%;
		z-index: 1003;
	}
}



 