

/* new color palletes */

/* 1 */
/* 	#FF7676
	#F6F49D
	#5DAE8B
	#466C95
*/

/* 2 */
/*	#F38181
	#FCE38A
	#D6F7AD
	#95E1D3
*/

/* 3 */
/*	#003744
	#1A554F
	#FDA856
	#F6FE91
*/

/* 4 */
/*	#F9FCFD
	#C9EFF9
	#07A4B5
	#FED8A7
*/

/* 5 *from colorbrewer */
/*	#225ea8
	#41b6c4
	#a1dab4
	#ffffcc
*/










body {
	margin:0;
	padding:0;
	overflow-x: hidden;
	overflow-y: hidden;
	/*font-family: 'Cabin', sans-serif;*/
	/*font-family: 'Muli', sans-serif;*/
	/*font-family: 'Oxygen', sans-serif;*/
	/*font-family: 'Assistant', sans-serif;*/
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Catamaran', sans-serif;
}

#map {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100vh;
}

#title {
	position: absolute;
	left: 20px;
	top: 20px;
	color: black;
	width: auto;
	z-index: 1001;
	width: 285px;
	/*display: inline;*/
}

#title h3 {
	/*display: inline;*/
	position: absolute;
	top: 0px;
	right:0;
	margin-top: 0;
}

#title p {
	position: absolute;
	top: 25px;
	right: 0;
	margin-top: 0;
}

#title img {
	width: 75px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0;
	/*display: inline;*/
}


#bottomMenu {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #FBFCFC;
	z-index: 1001;
	height: 50px;
	width: 100%;
}

#supBottomMenu {
	position: absolute;
	right: 85px;
	bottom: 0px;
	height: 50px;
	width: auto;
	text-align: center;
	background: transparent;
	z-index: 1001;
	color: #7B7D7D;
	cursor: pointer;
	-webkit-transition: .25s color;
	-moz-transition: .25s color;
	-o-transition: .25s color;
	transition: .25s color;
}

#supBottomMenu:hover {
	color: black;
}

#supBottomMenu p {
	margin-top: 15px;
}

#bottomLegend {
	position: absolute;
	left: 10px;
	bottom: 5px;
	background: transparent;
	z-index: 1001;
	height: 30px;
	width: 400px;
}

.legendBox {
	position: absolute;
	top: 0;
	height: 100%;
	width: 25%;
	background: transparent;
}

.legendBox p {
	margin-top: 0px;
	margin-left: 20px;
}

#layer01 {
	left: 0;
}

#layer02 {
	left: 25%;
}

#layer03 {
	left: 50%;
}

#layer04 {
	left: 75%;
}

.legendBubble {
	position: absolute;
	left: 0;
	top: 2px;
	height: 15px;
	width: 15px;
	border-radius: 25px;
	border: 1px solid black;
	cursor: pointer;
	opacity:.8;
	-webkit-transition: .1s opacity, .1s border;
	-moz-transition: .1s opacity, .1s border;
	-o-transition: .1s opacity, .1s border;
	transition: .1s opacity, .1s border;
}

.legendBubble:hover {
	opacity: 1;
	border: 1px solid #666;
}

#bubble01 {
	background: black;
}

#bubble02 {
	background: black;
}

#bubble03 {
	background: black;
}

#bubble04 {
	background: black;
}


#sideMenu {
	position: absolute;
	top: 0;
	right: 0;
	background: #1C2833;
	color: white;
	width: 75px;
	height: 100%;
	z-index: 1002;
}

.supSideMenu {
	position: absolute;
	top: 0;
	left: -150px;
	color: black;
	width: 150px;
	height: 100%;
	z-index: 1001;
	-webkit-transition: .3s left;
	-moz-transition: .3s left;
	-o-transition: .3s left;
	transition: .3s left;
}

#supSideMenu01 {
	background: #fff;
	border: 1px solid black;
}

#supSideMenu02 {
	background: #fff;
	border: 1px solid black;
}

#supSideMenu03 {
	background: #fff;
	border: 1px solid black;
}

.menuBox {
	position: absolute;
	height: 75px;
	width: 225px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: .2s right;
	-moz-transition: .2s right;
	-o-transition: .2s right;
	transition: .2s right;
}

.subMenuBox {
	position: absolute;
	height: 100%;
	width: 150px;
	background: #FBFCFC;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

.subMenuBox p {
	text-align: center;
	color: #7B7D7D;
	font-size: 25px;
	margin-top: 20px;
}





.menuCircle {
	position: absolute;
	left: 12px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	border-radius: 25px;
	color: black;
	margin-bottom: 20px;
	-webkit-transition: .2s opacity;
	-moz-transition: .2s opacity;
	-o-transition: .2s opacity;
	transition: .2s opacity;
}

#firstBox {
	top: 200px;
	background: black;
	right: -255px;
}

#secondBox {
	top: 275px;
	background: black;
	right: -255px;
}

#thirdBox {
	top: 350px;
	background: black;
	right: -255px;
}

#firstCircle {
	top: 210px;
	background: #fff;
	opacity: .7;
}

#secondCircle {
	top: 285px;
	background: #fff;
	opacity: .7;
}

#thirdCircle {
	top: 360px;
	background: #fff;
	opacity: .7;
}

.myIcon {
	position: absolute;
	top: 14px;
	left: 14px;
}

#myZoomControls {
	position:absolute;
	top: 0;
	left: 0;
	background: transparent;
	height: 35px;
	width: 75px;
	cursor: pointer;
	text-align: center;
	visibility: hidden;
}

#myZoomIn {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	height: 100%;
	width: 50%;
	opacity: .7;
	border-right: 1px solid black;
}

#myZoomOut {
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	height: 100%;
	width: 50%;
	opacity: .7;
	border-left: 1px solid black;
}

.custZoom {
	margin-top: 8px;
	color: black;
}

#myHomeButton {
	position: absolute;
	top: 36px;
	height: 35px;
	width: 75px;
	cursor: pointer;
	background: #fff;
	text-align: center;
	color: black;
	opacity: .7;
	visibility: hidden;
	
}

#menuToggle {
	position: absolute;
	top: 250px;
	right: 10px;
	background: black;
	color: white;
	width: 25px;
	height: 25px;
	z-index: 1001;
}

.pullOutPage {
	position: absolute;
	top: 0;
	background: #FBFCFC;
	height: 100%;
	z-index: 1001;
	padding-left: 25px;
	padding-right: 25px;
	-webkit-transition: .2s right;
	-moz-transition: .2s right;
	-o-transition: .2s right;
	transition: .2s right;
}

#searchPage {
	width: 350px;
	right: -500px;
	overflow-y: scroll;
	overflow-y: scroll;
}

.pageToggle {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #797D7F;
	cursor: pointer;
	font-size: 35px;
	-webkit-transition: .25s color;
	-moz-transition: .25s color;
	-o-transition: .25s color;
	transition: .25s color;
}

.pageToggle:hover {
	color: black;
}

#basemapPage {
	width: 400px;
	right: -500px;
	overflow-y: scroll;
}

#basemapPage .row p {
	text-align: center;
}

#basemapPage img {
	cursor: pointer;
	-webkit-transition: .25s opacity;
	-moz-transition: .25s opacity;
	-o-transition: .25s opacity;
	transition: .25s opacity;
}

#basemapPage img:hover {
	/*border: 5px solid #154360;*/
	opacity: .7;
}



#filterPage {
	width: 300px;
	right: -500px;
}

/* styling for the main layer legend box */
#menu {
	position: absolute;
	top: 60px;
	right: 10px;
	background: #fff;
	height: 175px;
	width: 110px;
	z-index: 1001;
	border-radius: 5px;
	-webkit-transition: .5s right, .5s height;
	-moz-transition: .5s right, .5s height;
	-o-transition: .5s right, .5s height;
	transition: .5s right, .5s height;
	-webkit-box-shadow: 2px 2px 10px -1px black;
	-moz-box-shadow: 2px 2px 10px -1px black;
	box-shadow: 2px 2px 10px -1px black;
	opacity: 1;
}



#menu p {
	margin-top: 0px;
	position: absolute;
	top: 1px;
	left: 5px;
}




/* class for styling the bubble toggles for layer legend */
.layerListBubble {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background: black;
	cursor: pointer;
	border: 1px solid black;
}







.active {
	
}

/* styling for the home button: reset extent */
#homeButton {
	position: absolute;
	top: 125px;
	left: 10px;
	width: auto;
	height: auto;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #B2BABB;
	cursor: pointer;
	z-index: 1001;
	-webkit-box-shadow: 1px 1px 3px -1px black;
	-moz-box-shadow: 1px 1px 3px -1px black;
	box-shadow: 1px 1px 3px -1px black;
}

/* tooltip for home button */
#homeButtonTooltip {
	position: absolute;
	top: 85px;
	left: 45px;
	width: auto;
	height: auto;
	padding: 2px;
	border-radius: 4px;
	background: black;
	color: #fff;
	border: 1px solid #B2BABB;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .25s opacity .8s;
	-moz-transition: .25s opacity .8s;
	-o-transition: .25s opacity .8s;
	transition: .25s opacity .8s;
}

/* stying for base map button: change base map */
#baseMapButton {
	position: absolute;
	top: 120px;
	left: 10px;
	width: auto;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #B2BABB;
	cursor: pointer;
	z-index: 1001;
	-webkit-box-shadow: 1px 1px 3px -1px black;
	-moz-box-shadow: 1px 1px 3px -1px black;
	box-shadow: 1px 1px 3px -1px black;
}

/* tooltip for base map button */
#baseMapButtonTooltip {
	position: absolute;
	top: 120px;
	left: 45px;
	width: auto;
	height: auto;
	padding: 2px;
	border-radius: 4px;
	background: black;
	color: #fff;
	border: 1px solid #B2BABB;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .25s opacity .8s;
	-moz-transition: .25s opacity .8s;
	-o-transition: .25s opacity .8s;
	transition: .25s opacity .8s;
}

/* styling for query button: tracks recently clicked features */
#queryButton {
	position: absolute;
	top: 160px;
	left: 10px;
	width: auto;
	height: auto;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 4px;
	background: #fff;
	color: #CCD1D1;
	border: 1px solid #B2BABB;
	cursor: not-allowed;
	z-index: 1001;
	-webkit-box-shadow: 1px 1px 3px -1px black;
	-moz-box-shadow: 1px 1px 3px -1px black;
	box-shadow: 1px 1px 3px -1px black;
	opacity: 0;
	visibility: hidden;
}

/* tooltip for query button */
#queryButtonTooltip {
	position: absolute;
	top: 160px;
	left: 45px;
	width: auto;
	height: auto;
	padding: 2px;
	border-radius: 4px;
	background: black;
	color: #fff;
	border: 1px solid #B2BABB;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .25s opacity .8s;
	-moz-transition: .25s opacity .8s;
	-o-transition: .25s opacity .8s;
	transition: .25s opacity .8s;
}

/* holds list of recently clicked features */
#queryContainer {
	position: absolute;
	top: 160px;
	left: 10px;
	width: auto;
	height: auto;
	background: #fff;
	z-index: 1001;
	border-radius: 4px;
	/*border: 1px solid #B2BABB;*/
	opacity: 1;
	visibility: visible;
	-webkit-box-shadow: 2px 2px 10px -1px black;
	-moz-box-shadow: 2px 2px 10px -1px black;
	box-shadow: 2px 2px 10px -1px black;
	-webkit-transition: .35s opacity;
	-moz-transition: .35s opacity;
	-o-transition: .35s opacity;
	transition: .35s opacity;
}

#queryContainer p {
	
}

#queryToggle {
	position: absolute;
	top: 0px;
	cursor: pointer;
	right: 0px;
}

.queryRow {
	background: white;
	width: auto;
	height: auto;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	padding-left: 4px;
	padding-right: 4px;
	border: 1px solid #B2BABB;
}

/* holds base map options and toggles */
#baseMapContainer {
	position: absolute;
	top: 120px;
	left: 10px;
	width: auto;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #B2BABB;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 2px 2px 10px -1px black;
	-moz-box-shadow: 2px 2px 10px -1px black;
	box-shadow: 2px 2px 10px -1px black;
	-webkit-transition: .35s opacity;
	-moz-transition: .35s opacity;
	-o-transition: .35s opacity;
	transition: .35s opacity;
}

#baseToggle {
	position: absolute;
	top: 0px;
	cursor:pointer;
	right: 0px;
}





/* experimental menu */
/*
#expMenu {
	position: absolute;
	top: 60px;
	right: 60px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	background: #fff;
	cursor: pointer;
	border: 1px solid #CCD1D1;
	z-index: 1001;
	-webkit-box-shadow: 2px 2px 10px 0px black;
	-moz-box-shadow: 2px 2px 10px 0px black;
	box-shadow: 2px 2px 10px 0px black;
}

#expLayer01 {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 65px;
	height: 30px;
	border-radius: 50px;
	text-align: center;
	background: #2471A3;
	color: #fff;
	cursor: pointer;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .5s opacity, .5s top;
	-moz-transition: .5s opacity, .5s top;
	-o-transition: .5s opacity, .5s top;
	transition: .5s opacity, .5s top;
	-webkit-box-shadow: 2px 2px 10px -1px black;
	-moz-box-shadow: 2px 2px 10px -1px black;
	box-shadow: 2px 2px 10px -1px black;
}

#expLayer02 {
	position: absolute;
	top: 5px;
	right: 0px;
	width: 65px;
	height: 30px;
	border-radius: 50px;
	text-align: center;
	background: #B03A2E;
	color: #fff;
	cursor: pointer;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .5s opacity, .5s right;
	-moz-transition: .5s opacity, .5s right;
	-o-transition: .5s opacity, .5s right;
	transition: .5s opacity, .5s right;
	-webkit-box-shadow: 2px 2px 10px -1px black;
	-moz-box-shadow: 2px 2px 10px -1px black;
	box-shadow: 2px 2px 10px -1px black;
}

#expLayer03 {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 65px;
	height: 30px;
	border-radius: 50px;
	text-align: center;
	background: #D68910;
	color: #fff;
	cursor: pointer;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .5s opacity, .5s top;
	-moz-transition: .5s opacity, .5s top;
	-o-transition: .5s opacity, .5s top;
	transition: .5s opacity, .5s top;
	-webkit-box-shadow: 2px 2px 10px -1px black;
	-moz-box-shadow: 2px 2px 10px -1px black;
	box-shadow: 2px 2px 10px -1px black;
}

#expLayer04 {
	position: absolute;
	top: 5px;
	right: 0px;
	width: 65px;
	height: 30px;
	border-radius: 50px;
	text-align: center;
	background: #117A65;
	color: #fff;
	cursor: pointer;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .5s opacity, .5s right;
	-moz-transition: .5s opacity, .5s right;
	-o-transition: .5s opacity, .5s right;
	transition: .5s opacity, .5s right;
	-webkit-box-shadow: 2px 2px 10px -1px black;
	-moz-box-shadow: 2px 2px 10px -1px black;
	box-shadow: 2px 2px 10px -1px black;
}
*/



/* leaflet popup styling */
.leaflet-popup-content-wrapper .leaflet-popup-content {
	text-align: center;
	font-size: 15px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content a:link{
	text-decoration: none;
	color: #1A5276;
}

.leaflet-popup-content-wrapper .leaflet-popup-content a:hover{
	text-decoration: none;
	color: #7FB3D5;
}

.leaflet-popup-content-wrapper .leaflet-popup-content a:visited{
	text-decoration: none;
	color: #1A5276;
}

.leaflet-popup-content-wrapper .leaflet-popup-content a:active{
	text-decoration: none;
	color: #1A5276;
}

/* test */
.leaflet-popup-content-wrapper .leaflet-popup-content .deactivated a:link{
	text-decoration: none;
	color: #CCD1D1;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .deactivated a:hover{
	text-decoration: none;
	color: #CCD1D1;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .deactivated a:visited{
	text-decoration: none;
	color: #CCD1D1;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .deactivated a:active{
	text-decoration: none;
	color: #CCD1D1;
}

.leaflet-top {
	top: 50px;
}

.leaflet-left {
	
}

/*test */


#titlePopup {
	font-size: 20px;
}

#govPopup {
	font-size: 20px;
}

.popupLine {
	width: 70%;
}



 