
body {
	margin:0;
	padding:0;
}

#map {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100vh;
}

#menu {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #fff;
	height: 150px;
	width: 100px;
	z-index: 1001;
}

/* maybe have just dots, expand menu and get full version */

#layer01 {
	position: absolute;
	top:0;
	left:0;
	background: #2471A3;
	height: 25%;
	width: 100%;
	border: 1px solid #fff;
	cursor: pointer;
	text-align: center;
	color: white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#layer02 {
	position: absolute;
	top: 25%;
	left: 0;
	background: #B03A2E;
	height: 25%;
	width: 100%;
	border: 1px solid #fff;
	cursor: pointer;
	text-align:center;
	color: white;
}

#layer03 {
	position: absolute;
	top: 50%;
	left: 0;
	background: #D68910;
	height: 25%;
	width: 100%;
	border: 1px solid #fff;
	cursor: pointer;
	text-align: center;
	color: white;
}

#layer04 {
	position: absolute;
	top: 75%;
	left: 0;
	background: #117A65;
	height: 25%;
	width: 100%;
	border: 1px solid #fff;
	cursor: pointer;
	text-align: center;
	color: white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.active {
	
}

#homeButton {
	position: absolute;
	top: 80px;
	left: 10px;
	width: auto;
	height: auto;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 4px;
	background: #fff;
	cursor: pointer;
	z-index: 1001;
}

#baseMapButton {
	position: absolute;
	top: 110px;
	left: 10px;
	width: auto;
	height: auto;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 4px;
	background: #fff;
	cursor: pointer;
	z-index: 1001;
}





/* experimental menu */
#expMenu {
	position: absolute;
	top: 90px;
	right: 60px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	background: #fff;
	cursor: pointer;
	z-index: 1001;
}

#expLayer01 {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	background: #2471A3;
	cursor: pointer;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .5s opacity, .5s top;
	-moz-transition: .5s opacity, .5s top;
	-o-transition: .5s opacity, .5s top;
	transition: .5s opacity, .5s top;
}

#expLayer02 {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	background: #B03A2E;
	cursor: pointer;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .5s opacity, .5s right;
	-moz-transition: .5s opacity, .5s right;
	-o-transition: .5s opacity, .5s right;
	transition: .5s opacity, .5s right;
}

#expLayer03 {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	background: #D68910;
	cursor: pointer;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .5s opacity, .5s top;
	-moz-transition: .5s opacity, .5s top;
	-o-transition: .5s opacity, .5s top;
	transition: .5s opacity, .5s top;
}

#expLayer04 {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	background: #117A65;
	cursor: pointer;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .5s opacity, .5s right;
	-moz-transition: .5s opacity, .5s right;
	-o-transition: .5s opacity, .5s right;
	transition: .5s opacity, .5s right;
}