
body {
	margin:0;
	padding:0;
}

#map {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100vh;
}

#menu {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #fff;
	height: 300px;
	width: 100px;
	z-index: 1001;
}

#layer01 {
	position: absolute;
	top:0;
	left:0;
	background: #2471A3;
	height: 25%;
	width: 100%;
	border: 1px solid #fff;
}

#layer02 {
	position: absolute;
	top: 25%;
	left: 0;
	background: #EC7063;
	height: 25%;
	width: 100%;
	border: 1px solid #fff;
}

#layer03 {
	position: absolute;
	top: 50%;
	left: 0;
	background: #F5B041;
	height: 25%;
	width: 100%;
	border: 1px solid #fff;
}

#layer04 {
	position: absolute;
	top: 75%;
	left: 0;
	background: #2ECC71;
	height: 25%;
	width: 100%;
	border: 1px solid #fff;
}

.active {
	
}